[global]
ioengine=libaio
direct=1
thread
runtime=300
ramp_time=60
time_based
size=480G
filename=/dev/sda

[1job-4k-randwrite]
numjobs=1
iodepth=64
norandommap
randrepeat=0
sync=1

[1job-4k-randread]
numjobs=1
iodepth=64
norandommap
randrepeat=0

[1job-64k-write]
numjobs=1
iodepth=64
sync=1

[1job-64k-read]
numjobs=1
iodepth=64
